div{
    margin: auto;
    text-align: center;
    margin-top: 45px;
    
}
body{
    background-attachment: fixed;
    background-image: url(darkmarble.jpg);
}

#btn1, input{
    width : 979px;
    height: 50px;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
h1{
    color: rgb(169, 143, 13);
}

#inp1{
    border:2px solid #CCC;
}

#Buttonsignup{
    width: 880px;
    background-color: rgb(169, 143, 13);
    border-color: rgb(0, 0, 0);
}

.inputsbyme{
    width: 84%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
}