/* .backgroundbyzakariae{
    background-image: url('codingwallpaper.jpg');
  
} */
#btn1scpg{
    margin-right: 450px;
}


.div1scpg{
    margin-right: 450px;
}

img{
    width: 50cm;
}

/* .glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    align-items: center;
} */

/* #container {
    background-image:url("laptop.jpg");
   
} */
 #imgglass{
  font-size: small;
  width: 388px;
  height: 388px;}

#span1{
    font-family: "Lucida Console", "Courier New", monospace;
} */

 #divglass{
    margin-top: 15px;
}

 #div2{
    text-align: center;
}  

body{
    margin: 0;
    padding: 0;

}

#section1{
    padding: 0 100px;
    background-image: url(code.jpg);
    height: 100vh;
    display: flex;
    align-items:center;
    flex-direction: row-reverse;
}

.box{
    position: relative;
    max-width: 900px;
    padding : 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgb(0,0,0,.5);
    align-items: center;
}

.box h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: #044446;
}

#allItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin:auto;
  }
  
   #allItems div {
    padding: 2%;
    border: #1d1d1c solid 10px;
    border-radius: 8px;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 6%;
    /* background-color: #807364;  */
  } 
  
  #allItems img {
    margin-top: 8%;
    height: 220px;
    width: 300px;
     /* border: #5B5750 solid 10px; 
    border-radius: 8px; 
  }
  
  #allItems div h2 {
    font-family: 'Sarabun', sans-serif;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E7DDCB;
    font-size: 200%;
    font-weight: 500;
    margin:auto;
    padding: 4%;
  }

  #allitems{
    aspect-ratio: 4/5;
  }

  #h22{
    width: 75px;
    height: 50px;
  }

  #allItems {
    /* margin-top: 5%; */
    height: fit-content;
    width: 380px; 
    max-width: 380px;
    max-height: 300px;
    /* border: #cecece solid 10px; */
    border-radius: 8px;
    aspect-ratio: 3/2;
  }

  #itemleft, #itemcenter, #itemright{
    font-size: small;
  }

  /* .container { 
    height: 200px;
    position: center;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */

  #divforbutton{
  text-align: center;
  margin-bottom: 15px;
  }

  #btn1scpg{
    font-size: larger;
  }





.button-92 {
  --c: #fff;
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
    #000000;
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
 calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover, 
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  cursor: pointer;
  padding: .1em .3em;
}



.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}